<div class="auth-container">
    <p>A <strong>Demo Library App</strong> that utilizes <strong>ngDB RDBMS</strong>. The App requires  creation of a <code>library database</code>. It allows users to register and login, then henceforth they can add books.</p>
    <p>Adding a book requires the user to input <code>book title, book type, and it's PDF file</code>. This data is stored inside their browser's <code>IndexedDB</code> storage system, and they can access it at any time - open PDFs to read.</p>
    <p>The <code>library database</code> can be created manually by running SQL commands inside the 
        <a class="anchor" routerLink = "/" routerLinkActive = "active">SQL Console REPL</a> for developers. The database is automatically created when a user client registers their info for the first time.</p>
    
      <!-- LOGIN -->
    <div class="auth-card">

        <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
          <div class="form-group">
            <input
              id="lemail"
              type="email"
              formControlName="email"
              placeholder="your_email@example.com"
            />
          </div>
    
          <div class="form-group">
            <input
              id="lphone"
              type="text"
              formControlName="phone"
              placeholder="your_phone_number"
            />
          </div>
    
          <button type="submit" [disabled]="loginForm.invalid">
            Login
          </button>
        </form>
    
        @if (error) {
          <div class="error global-error">{{ error }}</div>
        }
    </div>
    
      <div class="divider">OR</div>
  
      <!-- REGISTER -->
    <div class="auth-card">
      <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
        <h2>Register</h2>
        <div class="form-group">
          <input
            id="rname"
            type="text"
            formControlName="name"
            placeholder="Your Name"
          />
          @if (registerForm.controls['name'].touched && registerForm.controls['name'].invalid) {
            <div class="error">Name must be at least 5 characters</div>
          }
        </div>
  
        <div class="form-group">
          <input
            id="remail"
            type="email"
            formControlName="email"
            placeholder="your_email@example.com"
          />
          @if (registerForm.controls['email'].touched && registerForm.controls['email'].invalid) {
            <div class="error">Enter a valid email</div>
          }
        </div>
  
        <div class="form-group">
          <input
            id="rphone"
            type="text"
            formControlName="phone"
            placeholder="your_phone_number"
          />
          @if (registerForm.controls['phone'].touched && registerForm.controls['phone'].invalid) {
            <div class="error">Phone is required</div>
          }
        </div>
  
        <button type="submit" [disabled]="registerForm.invalid">
          Submit
        </button>
      </form>
    </div>
  
    @if (user) {
      <div class="user-card">
        <strong>Logged in user</strong>
        <div>Name: {{ user.name }}</div>
        <div>Email: {{ user.email }}</div>
      </div>
    }  
</div>