.sql-console {
    margin-top: 2rem;
    padding: 0 1.5rem;
    width: fit-content;
    display: block;
    border: 1px solid var(--electric-violet);
    border-radius: 1.8rem;
}

.sql-console h2, .hint span {
    color: var(--bright-blue);
    text-align: center;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 7px;
    background: color-mix(in srgb, var(--pill-accent) 5%, transparent);
    box-shadow: inset;
}

.sql-console textarea {
    border: 1px solid var(--bright-blue);
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.hint {
    font-size: 0.8rem;
    text-align: center;
}

.hint span {
    padding: 0.2rem;
    margin-left: 0.3rem;
    border: 1px solid rgba(0,0,0,0.3);
}

.console-btns {
    border: 1px solid var(--electric-violet);
    border-radius: 1.2rem;
    display: flex;
    margin: 1rem auto;
    padding: 0.5rem 0;
}

.console-btns button {
    margin: 0 1rem;
}

.history ul {
    list-style: none;
    padding: 0;
}

.history button {
    background: none;
    border: none;
    cursor: pointer;
    text-align: left;
    padding: 4px 0;
}
  